<div class="relative overflow-x-auto">
    <table class="main-table w-full text-sm text-left">
        <thead class="text-xs text-gray-500 uppercase border-b bg-gray-50 font-semibold">
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                NAME
            </th>
            <th scope="col">
                INN
            </th>
            <th scope="col">
                ADDRESS
            </th>
            <th scope="col">
                KPP
            </th>
            <th scope="col">
            </th>

        </tr>
        </thead>
        <tbody>
        <tr class="bg-white text-sm border-b">
            <th scope="row" class="font-normal whitespace-nowrap text-black">
            </th>
            <td class="px-6 py-3">
            </td>
            <td class="px-6 py-3">
            </td>
            <td class="px-6 py-3">
            </td>
            <td class="px-6 py-3">
            </td>
            <td class="px-6 py-3">
                <button type="button" id="delete-button"
                        class="text-red-700 hover:text-white border border-red-700 hover:bg-red-700 font-normal rounded-lg text-xs px-3 py-0.5 text-center">
                    Удалить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>