.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 58px;
    padding: 12px 0;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    height: 38px;
    padding: 10px;
}

.page-section {
    width: 100%;
    max-width: 900px;
}

.main-table td, .main-table th {
    padding: 16px;
}